{% extends "base.html" %}
{% block extrasyle %}
<style>
    body {
        background-color: #f8f9fa;
    }
    .container {
        margin-top: 50px;
    }
    .about-me {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        color: #343a40;
    }
</style>

{% endblock extrasyle %}

{% block content %}
    <div class="container">
        <div class="about-me">
            <h1>Sobre Mí</h1>
            <p>Hola, soy Gaston Deibele. Soy un apasionado de la tecnología y el desarrollo web. Desde joven, he estado fascinado por cómo funcionan las cosas y cómo se pueden crear soluciones innovadoras para problemas cotidianos.</p>
            <p>Actualmente, me estoy especializando en el desarrollo con Python y Django, y disfruto trabajando en proyectos que desafían mis habilidades y me permiten aprender constantemente. Me encanta colaborar con otros y compartir conocimientos, ya que creo que la mejor manera de crecer es trabajando en equipo.</p>
            <p>En mi tiempo libre, disfruto leyendo, explorando nuevas tecnologías y aprendiendo sobre diseño web. Siempre estoy buscando nuevas oportunidades para crecer profesionalmente y contribuir a proyectos interesantes.</p>
        </div>
    </div>
{% endblock  %}    
